.family2{
    margin-left: 35vh;
    margin-right: 35vh;
}
.fname2{
    color: #20a397;
    text-align: center;
    font-family: Lato,sans-serif!important;
    font-size:xx-large;
}
p{
    font-family: Lato,sans-serif!important;
}
h6{
    font-family: Lato,sans-serif!important;
    font-size:medium;
}
.hplace{
    margin-left: 35vh;
    margin-right: 35vh;
}
.Kerala{
    font-family: Lato,sans-serif!important;  
    margin-right: 113vh;
    margin-top: -8vh; 
    margin-left: 2vh;
}
.hkimg{
    width: 35%;
    border-radius: 5vh;
}
h4{
    font-family: Lato,sans-serif!important;   
}
.prize1{
    color: green;
    margin-left: 33vh;
    margin-top: .5vh;
    margin-right: 93vh;
}
.per{
    margin-left: 36vh;
    margin-top: -5.5vh;
    font-family: Lato,sans-serif!important;   
    margin-right: 93vh;

}
.keraladetails{
    margin-left: 60vh;
    margin-top: -38vh;
}
.st{
    font-family: Lato,sans-serif!important;   
}
.pz{
    margin-top: -5vh; 
   font-family: Lato,sans-serif!important;   
   color:green ;
}
.list1{
    font-family: Lato,sans-serif!important;   
    margin-top: -2vh;
}
.list2{
    margin-top: -3vh;
}
.list3{
    margin-top: -3vh;
}
.radio1{
    margin-top: -4vh;
    margin-right: 50vh;
    font-family: Lato,sans-serif!important;   
    margin-left: -1vh;
}
.booknow{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    margin-left: 50vh;
}
.bnow{
    margin-top: -25vh;
}
.Goa{

}
.gimg{
    width: 23.5%;
    border-radius: 5vh; 
    margin-left: 35vh;
    margin-top: 25vh;
}
.Kashmir{

}
.kimg{
    width: 23.5%;
    border-radius: 5vh; 
    margin-left: 35vh;
    margin-top: 25vh;
}