.continer{
  background-color:lightgray;
  width: 100%;
}
.name{
margin: 0vh 50vh ;
font-family: 'Shadows Into Light', cursive;
margin-left: 65vh;
}
.whole{
  background-image: url(https://t3.ftcdn.net/jpg/02/27/79/96/360_F_227799644_pHYjHHrqGNVX0VzKDyobWKyTnKpetjCY.jpg);
  background-size: 50%;
  width: 100%;
}
.left{
  background-color: gray;
  margin-right: 100vh;
  margin-left: 20vh;
  margin-bottom: 20vh;
  margin-top: 20vh;
}
.unleft{
  background-color: blue;
  margin-right: 105vh;
}
.unleftimg{
  padding: 20vh;
  border-radius: 20px;
  margin-bottom: 10vh;
}
.right{
  background-color: lightcoral;
  margin-left: 100vh;
  margin-top: -83vh;
}
.quote{
  text-align: center;
  font-size: 2vh;
  margin-top: -20vh;
  margin-left: 60vh;
  margin-right: 30vh;
  font-family: 'Charm',handwriting;
}
.nav{
  margin-bottom: 50vh;
  background-color: black;
  width: 50%;
}
.navbar{
  display:flex;
  justify-content: space-between;
  width: 35%;
  align-items: center;
  margin-left: 100vh;
  background-color: gray;
  margin-bottom: -10vh;
  background-image:url(proimg/bg.jpg);
  display: block;
  font-family: 'Charm', cursive;}
.listitem{
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}
.links{
  text-decoration: none;
  font-weight: bold;
  color: red;
}
